@import url("../base/variable.css");
@import url("../layout/navbar.css");
@import url("../components/banner.css");
@import url("../layout/grid.css");
@import url("../components/card.css");
@import url("../components/button.css");
@import url("../components/notice.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 7rem;
  background: var(--background-gradient);
  color: #333;
}
